*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    width: 100%;
    height: 100vh;
}
h2{
    color: #203B9B;
    text-align: center;
    font-weight: bold;
    font-size: large;
   


}

.cart-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;

}



.contact-box{
    background: #F9F9F9;
    border-radius: 20px;
    box-shadow: 0px 0px 15px  #FB930A;
    padding: 0 60px;
}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.all{
    
    display: flex;
    /* grid-template-columns: auto auto auto; */
    /* justify-content: space-around; */
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    grid-row-gap: 20px;
    
}

 .right{
    position: relative;
    width: fit-content;
    height: 10%;
    margin: 20px 20px;
} 

.left{
    position: relative;
    width: 50%;
    height:50%;
    padding: 0px 0px;
    margin-bottom: 50px;
}

.left p {
    font-size: 15px;
    color: #4F4F4F;
}
h2{
    font-size: 28px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
    border: 0px;
    padding: 4px 40px;;
    border-radius: 10px;
    background: #FB930A;
    color: #F9F9F9;
    font-size: 14px;
}
.right  {
    width: 180px;
}

#Imgc{
    width: 250px;
    height: 350px;
    position: absolute;
    box-shadow: 0px 0px 15px  #9c9c9c;
    margin-left: 20px;
}

input{
    background: #E8E8E8;
    border: 0px;
    padding: 8px;
    border-radius: 10px;
}

label{
    color: #858585;
    font-size: 15px;
    margin-bottom: 0 ;
    margin-top: 15px;
}

textarea{
    border-radius: 10px;
    background: #E8E8E8;
    border: 0px;
    resize: none;
    padding: 17px;
}

.medium{

font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #000000;
padding-top: 10px;
}
@media  only screen and (max-width:800px) {
#Imgc{
display: none;
}

}